@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section class="section-1">
    <div class="container">
        <div class="menu">
            <div class="danhmuc-btn2"><a><i class="fa-solid fa-angle-right"></i></a><a href="SPGiaTot.html">SẢN PHẨM GIÁ TỐT</a><br></div>
            <div class="danhmuc-btn2"><a><i class="fa-solid fa-angle-right"></i></a><a href="#">Máy  ảnh</a><i class="fa-solid fa-caret-right"></i><br></div>
            <div class="danhmuc-btn2"><a><i class="fa-solid fa-angle-right"></i></a><a href="#">Ống kính</a><i class="fa-solid fa-caret-right"></i><br></div>
            <div class="danhmuc-btn2"><a><i class="fa-solid fa-angle-right"></i></a><a href="#">Phụ kiện</a><i class="fa-solid fa-caret-right"></i><br></div>
            <div class="danhmuc-btn2"><a><i class="fa-solid fa-angle-right"></i></a><a href="#">Kiến Thức Máy Ảnh / Nhiếp Ảnh</a><br></div>
            <div class="danhmuc-btn2"><a><i class="fa-solid fa-angle-right"></i></a><a href="#">Review Máy Ảnh / Ống Kính</a><br></div>
            <div class="danhmuc-btn2"><a><i class="fa-solid fa-angle-right"></i></a><a href="#">Thu mua máy ảnh</a></div>
        </div>
        <div class="col-lg-6 col-md-6 no-padding" style="width: 585px;">
            <div class="home-slider slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" role="listbox" style="opacity: 1; width: 565px;">
                        <div class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 565px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                            <a href="https://mayanhcuhanoi.com/he-ron-rang-them-ngan-anh-chat-25-05-den-04-06" class="clearfix" title="Máy ảnh cũ Hà Nội" tabindex="0">
                                <img src="//bizweb.dktcdn.net/100/378/894/themes/755183/assets/slider_1.jpg?1698238395458" alt="Máy ảnh cũ Hà Nội" class="lazy img-responsive center-block loading" style="opacity: 1;width:565px;height:403px;" data-was-processed="true">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 no-padding near_slider_banner" style="width: 307px;margin-left: 0px;padding-top: 8px;padding-left: 5px;">
            <div class="row" style="width: 287px;">
                <div class="col-md-12 col-sm-6 col-xs-6" style="padding-right: 0px;padding-left: 0px;">
                    <a href="https://mayanhcuhanoi.com/may-anh-cu-ha-noi-tuyen-dung-nhan-vien-ban-hang-thu-nhap-hap-dan" title="Máy ảnh cũ Hà Nội" style="height: 200px;">
                        <img src="//bizweb.dktcdn.net/100/378/894/themes/755183/assets/near_slider_1.jpg?1698238395458" style="width:265px;height: 195px;">
                    </a>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-6" style="padding-left: 0px;padding-right: 0px;">
                    <a href="https://mayanhcuhanoi.com/thong-bao-may-anh-cu-ha-noi-cap-nhat-chinh-sach-khach-hang-moi" title="Máy ảnh cũ Hà Nội" style="width: 287px;">
                        <img src="//bizweb.dktcdn.net/100/378/894/themes/755183/assets/near_slider_2.jpg?1698238395458" style="width:265px; height:205px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-2">
    <img src="https://bizweb.dktcdn.net/100/378/894/themes/755183/assets/evo_banner_index_1.jpg?1691112267535">
</div>
<div class="section-gift">
    <div class="grid-container">
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/332e42e6-d870-4744-80c6-e973a5180d5b.jpg?v=1681989352337"></div>
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/ee055b5f-520c-458c-8cae-6c5e1e3d459c.jpg?v=1681988868963"></div>
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/3d71f004-0e1e-4191-901d-df179db70b07.jpg?v=1681989135730"></div>
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/a6300.jpg?v=1681989258023"></div>
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/e5f1803a-7839-4364-9eb3-16d2c9781074.jpg?v=1681989305837"></div>
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/31260e97-f690-454d-b3ac-fd838c6896da.jpg?v=1681989023670"></div>
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/r-2.jpg?v=1684467555250"></div>
        <div class="grid-item"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/0c1f623b-d924-4074-b8ac-d3a3dc04fc68.jpg?v=1681989568887"></div>
    </div>
</div>
<div class="section-mayanh">
    <h2>MÁY ẢNH</h2>
    <div class="scroll-container">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/12f3cf8f-9684-4e6a-9d47-f5f09e5b6416.jpg?v=1695267993033">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/332e42e6-d870-4744-80c6-e973a5180d5b.jpg?v=1681989352337">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/31260e97-f690-454d-b3ac-fd838c6896da.jpg?v=1681989023670">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/01e52de3-72e6-463b-9144-f44aa0252c99.jpg?v=1679542324173">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/e5f1803a-7839-4364-9eb3-16d2c9781074.jpg?v=1681989305837">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/a6300.jpg?v=1681989258023">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/68daa1b8-a543-4bdb-87f4-311e07bbf607.jpg?v=1679540736993">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/df38a875-ec1a-4bb2-ba79-5038e0ea335f.jpg?v=1679541462283">
    </div>
</div>
<div class="section-ongkinh">
    <h2>ỐNG KÍNH</h2>
    <div class="scroll-container">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/12f3cf8f-9684-4e6a-9d47-f5f09e5b6416.jpg?v=1695267993033">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/332e42e6-d870-4744-80c6-e973a5180d5b.jpg?v=1681989352337">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/31260e97-f690-454d-b3ac-fd838c6896da.jpg?v=1681989023670">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/01e52de3-72e6-463b-9144-f44aa0252c99.jpg?v=1679542324173">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/e5f1803a-7839-4364-9eb3-16d2c9781074.jpg?v=1681989305837">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/a6300.jpg?v=1681989258023">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/68daa1b8-a543-4bdb-87f4-311e07bbf607.jpg?v=1679540736993">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/df38a875-ec1a-4bb2-ba79-5038e0ea335f.jpg?v=1679541462283">
    </div>
</div>
<div class="section-phukien">
    <h2>PHỤ KIỆN</h2>
    <div class="scroll-container">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/12f3cf8f-9684-4e6a-9d47-f5f09e5b6416.jpg?v=1695267993033">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/332e42e6-d870-4744-80c6-e973a5180d5b.jpg?v=1681989352337">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/31260e97-f690-454d-b3ac-fd838c6896da.jpg?v=1681989023670">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/01e52de3-72e6-463b-9144-f44aa0252c99.jpg?v=1679542324173">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/e5f1803a-7839-4364-9eb3-16d2c9781074.jpg?v=1681989305837">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/a6300.jpg?v=1681989258023">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/68daa1b8-a543-4bdb-87f4-311e07bbf607.jpg?v=1679540736993">
        <img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/products/df38a875-ec1a-4bb2-ba79-5038e0ea335f.jpg?v=1679541462283">
    </div>
</div>
<div class="news">
    <div class="column" style="background-color:#aaa;width:50%;">
        <div class="news-img"><img src="https://bizweb.dktcdn.net/thumb/large/100/378/894/articles/khung-tk1-01.jpg?v=1685085938107" style="max-width:150px;"></div>
        <div class="news-txt">
            <h2>Column 1</h2>
            <p>Some text..</p>
        </div>
    </div>
    <div class="column" style="background-color:#bbb;width:50%">
        <h2>Column 2</h2>
        <p>Some text..</p>
    </div>
</div>
